/* You can add global styles to this file, and also import other style files */

body {
  font-family: "arial";
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

  .modal.show {
    display: flex !important;
  }

.modal-dialog {
  margin: auto;
  width: 100%;
}

